.returnListView {
    height: 30px;
    float: left;
    border-radius: 50%;
    box-shadow: 0 0 12px 5px #50B499;

}

.returnListView:hover {
    cursor: pointer;
    animation: pulse 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #50B499;
    }

    70% {
        -webkit-box-shadow: 0 0 33px 15px #50B499;
    }

    100% {
        -webkit-box-shadow: 0 0 33px 10px #50B499;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 12px 5px #50B499;
        box-shadow: 0 0 12px 5px #50B499;
    }

    70% {
        -moz-box-shadow: 0 0 10px 8px #50B499;
        box-shadow: 0 0 10px 8px #50B499;
    }

    100% {
        -moz-box-shadow: 0 0 10px 8px #50B499;
        box-shadow: 0 0 10px 8px #50B499
    }
}