.list-section {
  top: 10vh;
  position: sticky;
}

.center-section {
  padding-top: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  background: white;
}

.toCompleteTask {
  height: 50%;
  opacity: 30%;
  transition: opacity 0.5s linear;
}

.taskIsCompleted {
  height: 50%;
}

.pendingDeadline {
  height: 50%;
  opacity: 30%;
  transition: opacity 0.5s linear;
}

.pendingDeadline:hover {
  opacity: 100%;
}

.completedDeadline {
  height: 50%;
  transition: opacity 0.5s linear;
}

.clearUpdate:hover {
  cursor: pointer;
}

.toCompleteTask:hover {
  opacity: 100%;
}

.clearUpdate {
  display: absolute;
  height: 60px;
  margin-left: -20px;
  margin-top: -10px;
}

.calendar-icon {
  display: absolute;
  height: 30px;
  margin-left: 10px !important;
  margin-top: -10px;
}

.selectedOption {
  background-color: #f1f3f4;
}

.task-name {
  margin-left: 20%;
}
