.completeTask {
  height: 50%;
  opacity: 10%;
  transition: opacity 0.5s linear;
}

.clearUpdate:hover {
  cursor: pointer;
}

.completeTask:hover {
  opacity: 100%;
}

.clearUpdate {
  display: absolute;
  height: 60px;
  margin-left: -20px;
  margin-top: -10px;
}

.calendar-icon {
  display: absolute;
  height: 30px;
  margin-left: 10px !important;
  margin-top: -10px;
}

.task-name {
  margin-left: 20%;
}
